In [2]:
import pandas as pd

In [6]:
s= pd.Series([10, 20, 30, 40], index=['liz', 'bill', 'mark', 'natalie'])

In [8]:
s

liz        10
bill       20
mark       30
natalie    40
dtype: int64

In [10]:
s.values

array([10, 20, 30, 40])

In [17]:
s.mean()

25.0

In [19]:
s.index

Index(['liz', 'bill', 'mark', 'natalie'], dtype='object')

In [24]:
s.loc['liz':'natalie']

liz        10
bill       20
mark       30
natalie    40
dtype: int64

In [28]:
s1= pd.Series([1, 2, 3], index=list('abc'))
s2= pd.Series([4 , 5, 6], index=list('adc'))

In [32]:
s1
s2

a    4
d    5
c    6
dtype: int64

In [34]:
s1 + s2

a    5.0
b    NaN
c    9.0
d    NaN
dtype: float64

In [37]:
s1.add(s2, fill_value=50)

a     5.0
b    52.0
c     9.0
d    55.0
dtype: float64